<!DOCTYPE html>
<html>
<head>
  <title>ProductsMock</title>
  <%= stylesheet_link_tag    "products-mock/application", :media => "all" %>
  <%= javascript_include_tag "products-mock/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
